// Global Mirage2 CSS Includes and Overrides

header .navbar-default
{ background-color: #000; }

header .navbar-default .navbar-toggle > li > a, header .navbar-default .navbar-nav > li > a
{ color: #fdc948; }

.trail-wrapper
{ background-color: #fff; border-bottom: 2px solid #960000; }

.btn-primary
{ background-color: #333; border-color: #111; color: #fdc948; }

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus
{ background-color: #484848; border-color: #000; color: #fff; z-index: 2; }

header .navbar-brand img
{ height: 60px; }

.navbar-brand
{ float: left; font-size: 18px; height: 60px; line-height: 20px; padding: 5px 15px 0; }

a
{ color: #0678be; }

footer hr
{ display: block; border-top: 1px solid #D2D2D2; }

.col-sm-4.breakword a {
    word-wrap: break-word;
}

.item-page-field-wrapper.table {
   -moz-hyphens: none;
   word-break: normal;
}

h5, .h5 {
   font-size: 14px;
   font-weight: 800;
}

.pagination > li > a {
    font-size: 18px;
}

.pagination {
    width: auto;
}

.pagination > li > a, .pagination > li > span {
    color: #428bca;
}

/* Do not break words in item full record view. */
#aspect_artifactbrowser_ItemViewer_div_item-view > div.ds-table-responsive > table > tbody > tr > td.word-break { 
    word-break: normal; 
    -moz-hyphens: none;
}

/* customization for LIBCIR-149. */

.custom-space-class {
    padding-bottom: 10px;
    display: block;
}

/* End customization */

@include selection {
    color: white;
    background: hotpink;
}

.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}

.publication-records-import-btn {
  margin: 5px 0px 15px 0px;
}

.bold {
  font-weight: bold;
}

.imported {
  background-color: #E2E2E2;
}

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep {

  #aspect_submission_StepTransformer_field_search {
    width: 81%;
    display: inline;
  }

  #aspect_submission_StepTransformer_field_lookup {
    width:19%
  }

  .modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
  }

  #aspect_submission_StepTransformer_item_publication-title{
    margin-bottom:5px;
  }
}