/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

// global mirage 2 custom css includes
@import 'global';

.community_logo {
  height: 35px;
  padding-right: 5px;
}

.col-xs-12.col-sm-12.community_footer {
    background: #f7f7f7 none repeat scroll 0 0;
    margin: 5px;
    padding: 15px;
}

.community_footer_logo {
    width: 200px;
}
